
.img-thumbnail {
    float: left;
    margin-right: 15px;
}

p {
    padding-left: 15px;
    line-height: 2;
}

.col-sm-8 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}