

body {
    background-image: url(../Images/palmleaf.png);
}

.navbar {
   padding: 0%;
}

header {
    position: relative;
    background: white; 
    margin-bottom: 15px;
}

.navbar-nav {
    position: absolute;
    right: 0;
    color: black;
}

.row {
    background: white;
}

footer {
        color: #ffffff;
        background-color: grey;
        float: bottom;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        left: 0;
        bottom: 0;
        vertical-align: text-bottom;
        width: 100%;
        padding-top: 5%;
        border-top: #4aaaa5 6px solid;
        position: fixed;
    }


